{% extends'base.html' %}
{% block body %}
		<!-- End Header Area -->
	
		<!-- Breadcrumbs -->
		<!-- <div class="breadcrumbs overla">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<!--<div class="col-12">
							<h2>Contact Us</h2>
							<ul class="bread-list">
								<li><a href="index.html">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Contact Us</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- End Breadcrumbs -->
		<div id="fun-facts" class="fun-facts section ">
			<div class="container">
				<div class="row">
					
					<!--<div class="col-lg-3 col-md-6 col-12">
						
						<div class="single-fun">
							<i class="icofont icofont-home"></i>
							<div class="content">
								<span class="counter">3468</span>
								<p>Hospital Rooms</p>
							</div>
						</div>
					
					</div>-->
					<!--<div class="col-lg-3 col-md-6 col-12">
						<!-- Start Single Fun 
						<div class="single-fun">
							<i class="icofont icofont-user-alt-3"></i>
							<div class="content">
								<span class="counter">557</span>
								<p>Specialist Doctors</p>
							</div>
						</div>
						<!-- End Single Fun 
					</div>-->
					<div class="col-lg-6 col-md-6 col-12" data-aos="zoom-in-right">
						
							<h2  style="color:#2E2D7F;"><b>Get To Know More About Our Claims?<b></h2>
								<img src="static/cisl/img/section-img.png" alt="#">
					
								<div class="get-quote" style="background-color: #2E2D7F; width:100px; border-radius:30px;">
									<a href="tel:+232 78 274 864" style="background-color:#2E2D7F; border-radius:30px;" class="btn"><i class="icofont icofont-ui-call"></i> Click here</a>
								</div>
<!-- 							
							<div class="get-quote" style="background-color: #2E2D7F; width:100px; border-radius:30px;">
								<a href="appointment.html" style="background-color:#2E2D7F; border-radius:30px;" class="btn"><i class="icofont icofont-ui-call"></i> Get In Touch</a>
							</div> -->
						
						<!-- Start Single Fun -->
						
						<!-- End Single Fun -->
					</div>
					<!--<div class="col-lg-6 col-md-6 col-12">
					
						<div class="single-fun">
							<i class="icofont icofont-table"></i>
							<div class="content">
								<span class="counter">32</span>
								<p>Years of Experience</p>
							</div>
						</div>
				
					</div>-->
				</div>
			</div>
		</div>
		
		
				
		<!-- Start Contact Us -->
		<section class="contact-us section">
			<div class="container">
				
					<div class="contact-info">
						<h6 style="text-align: left; margin-bottom:20px;">Follow the steps to make a claims.</h6>

						<hr>
					<div class="row">
						<!-- single-info -->
						
						<div class="col-lg-4 col-12 ">
							<h6 style="text-align: left;">I am a CISL Client</h6>
			
				

			
			
				<div class="get-quote" style=" border-radius:30px; ">
					<a href="/main" style="background-color:#2E2D7F; border-radius:30px; margin-bottom:10px;" class="btn">Submit Claims Online</a>
				</div>

							<!-- <a href="https://abitu-ce1b6c8eb118.herokuapp.com/cisl"><div class="single-info">
								<i class="icofont icofont-live-support" style="color:antiquewhite; "></i>
								<div class="content">
									<h1 style="color:#fff;">Make a Claim</h1>
								</div>
							</div></a> -->
							
						</div>
						<!-- <div class="col-lg-1 col-12 ">
						<div class="vertical-hr" style="border-left: 1px solid black;
						height: 300px;"></div>
						</div> -->
						<!--/End single-info -->
						
						<!-- single-info -->
						<div class="col-lg-8 col-12 ">
							<h4 style="text-align: left; margin-bottom:20px;"><b>Claims Procedures are as follows;</b></h4>
				
				<!-- <h6 style="text-align: left; margin-bottom:2px;" class="text-muted">Are you a CSIL Client?</h6> -->

							<p style="text-align: left;" >Prompt notification of an incident to the insurance company is more than just a formality; it is a critical requirement and often a condition precedent to having your claim honored. </p><br>
				<p>Therefore, we strongly encourage you to promptly notify us by logging into your account to tell us of any incidents that may give rise to a claim. This will not only help you comply with the essential terms and conditions of your insurance policy but also ensure that you receive the necessary support and guidance throughout the claims process.</p><br>
				
			
							<!-- <img src="https://www.renewbuy.com/sites/default/files/2023-10/Asset%205%40300x%20%281%29.png"> -->
							<!-- <a href="claims_no.html"><div class="single-info">
								<i class="icofont icofont-live-support"></i>
								<div class="content">
									<h3>Are you a Client of CISL?</h3>
									<p>No, I am not!</p>
								</div>
							</div></a> -->
						</div>
						<!--/End single-info -->
						<!-- single-info -->
						
						<!--/End single-info -->
					</div>
					<hr>
					<div class="row">
						<!-- single-info -->
						
						
						<div class="col-lg-4 col-12 ">
							<h6 style="text-align: left; ">I am not a CISL Client</h6>
			
							

			
			
				<!-- <div class="get-quote mt-9" style=" border-radius:30px; margin-top:40px;">
					<a href="https://abitrack.com/cisl" style="background-color:#2E2D7F; border-radius:30px; margin-bottom:40px;" class="btn">Submit Claims Online</a>
				</div> -->

							<!-- <a href="https://abitu-ce1b6c8eb118.herokuapp.com/cisl"><div class="single-info">
								<i class="icofont icofont-live-support" style="color:antiquewhite; "></i>
								<div class="content">
									<h1 style="color:#fff;">Make a Claim</h1>
								</div>
							</div></a> -->
							
						</div>
						<!-- <div class="col-lg-1 col-12 ">
						<div class="vertical-hr" style="border-left: 1px solid black;
						height: 300px;"></div>
						</div> -->
						<!--/End single-info -->
						
						<!-- single-info -->
						<div class="col-lg-8 col-12 ">
							<h4 style="text-align: left; margin-bottom:20px;"><b>Non-CISL Claims</b></h4>
		
				<!-- <h6 style="text-align: left; margin-bottom:2px;" class="text-muted">Introduction</h6> -->

							<p>If you are not currently a CISL client but are looking for claim support assistance, we welcome your interest. Please reach out to us with your inquiry, and our dedicated team will provide you with the necessary guidance and support to help you through the claims process.</p><br>
					
							<p style="background-color:azure; padding:20px;"><b>* Disclaimer *</b><br>
							
	
								I/We, the undersigned person(s), hereby kindly request the support of Core Insurance Solutions Limited (CISL) in pursuing our insurance claim. We affirm that we have not been induced, coerced, threatened, or promised any form of inducement by CISL, its employees, agents, assigns director(s), or any other persons to contact CISL for assistance with our claim.
								<br><br>
								I/We understand and agree to comply with the terms and conditions of CISL's claim support services.
							<br>
							</p>
							
					
			
				<div class="get-quote" style="background-color: #2E2D7F; width:100px; border-radius:30px;">
					<a href="tel:+232 78 274 864" style="background-color:#2E2D7F; border-radius:30px;" class="btn"><i class="icofont icofont-ui-call"></i> I Agree</a>
				</div>
			
							<!-- <img src="https://www.renewbuy.com/sites/default/files/2023-10/Asset%205%40300x%20%281%29.png"> -->
							<!-- <a href="claims_no.html"><div class="single-info">
								<i class="icofont icofont-live-support"></i>
								<div class="content">
									<h3>Are you a Client of CISL?</h3>
									<p>No, I am not!</p>
								</div>
							</div></a> -->
						</div>
						<!--/End single-info -->
						<!-- single-info -->
						
						<!--/End single-info -->
					</div>
					<hr>
				</div>
			</div>
		</section>
		<!--/ End Contact Us -->
		
{%endblock body%}