{% extends'base.html' %}
{% block body %}

<section class="slider">
	<div class="hero-slide">
		<!-- Start Single Slider -->
		<div class="single-slider" style="background-image:url('https://www.allianz.ng/personal-insurance/life-insurance/_jcr_content/root/stage/stageimage.img.82.3360.jpeg/1625244709502/life-insurance-1-allianz-nigeria.jpeg')">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="text">
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Single Slider -->
		<!-- Start Single Slider -->
		
		
		<!-- Start End Slider -->
		<!-- Start Single Slider -->
		<!--<div class="single-slider" style="background-image:url('static/cisl/img/slider3.jpg')">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="text">
							<h1> <span> We Provide Medical</span> Services That You Can <span>Trust!</span></h1>
							<p style="color:#2E2D7F;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisl pellentesque, faucibus libero eu, gravida quam. </p>
							<div class="button">
								<a href="#" class="btn">Get Appointment</a>
								<a href="#" class="btn primary">Conatct Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>-->
		<!-- End Single Slider -->
	</div>
</section>
<!--/ End portfolio -->
<section class="schedule">
	<div class="container">
		<div class="schedule-inner" >
			<div class="row" style="border-radius:30px;">
				<div class="col-lg-12 col-md-6 col-12 ">
					<!-- single-schedule -->
					<div class="single-schedule first"style="border-radius:20px;"  >
						<div class="inner"style="border-radius:30px;" >
							<div class="icon">
								<i class="icofont-ui-clock" style="color:green;"></i>
							</div>
							<div class="single-content" > 
								<span>Why Choose CISL</span>
								<h4>Exceptional Client Experience:</h4>
								<p> We understand that navigating insurance can be complex and intimidating.</p>
								<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>


	
	
				<!-- <div class="col-lg-4 col-md-6 col-12" data-aos="zoom-in-up">
					
					<div class="single-schedule middle">
						<div class="inner">
							<div class="icon">
								<i class="icofont-ui-clock" style="color:green;"></i>
							</div>
							<div class="single-content">
								<span>Why Choose CISL</span>
								<h4>Optimal and Enhanced Insurance Coverage:</h4>
								<p>Generic or standard policies are not effective or sufficient when it comes to protecting the most important things.</p>
								<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div> -->
				<!-- <div class="col-lg-6 col-md-12 col-12" data-aos="zoom-in-up">
					<!-- single-schedule -
					<div class="single-schedule last">
						<div class="inner">
							<div class="icon">
								<i class="icofont-ui-clock" style="color:green;"></i>
							</div>
							<div class="single-content">
								<span>Why Choose CISL</span>
								<h4>Competitive Premiums:</h4>
								<p>Our approach to competitive premiums converges quality protection with affordability.Client satisfaction is the bedrock of our business. </p>
								<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</section>
		<!-- End Header Area -->
	
		<!-- Breadcrumbs -->
		<!-- <div class="breadcrumbs overla">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<!--<div class="col-12">
							<h2>Contact Us</h2>
							<ul class="bread-list">
								<li><a href="index.html">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Contact Us</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- End Breadcrumbs -->
		
		<!-- Start Contact Us -->
		<section class="contact-us section">
			<div class="container">
				
					<div class="contact-info">
					
						<hr>
					<div class="row">
						<!-- single-info -->
						
						<div class="col-lg-4 col-12 ">
							<h6 style="text-align: left;">Get in touch with us:</h6>
			
				

			
			
				

							<!-- <a href="https://abitu-ce1b6c8eb118.herokuapp.com/cisl"><div class="single-info">
								<i class="icofont icofont-live-support" style="color:antiquewhite; "></i>
								<div class="content">
									<h1 style="color:#fff;">Make a Claim</h1>
								</div>
							</div></a> -->
							
						</div>
						<!-- <div class="col-lg-1 col-12 ">
						<div class="vertical-hr" style="border-left: 1px solid black;
						height: 300px;"></div>
						</div> -->
						<!--/End single-info -->
						
						<!-- single-info -->
						<div class="col-lg-8 col-12 ">
							<h4 style="text-align: left; margin-bottom:20px;"><b>Here is our social media Platforms.</b></h4>
				
				<!-- <h6 style="text-align: left; margin-bottom:2px;" class="text-muted">Are you a CSIL Client?</h6> -->
					<!-- Social -->
					<ul class="social" style="display:flex;">
						<li><a href="#" ><i class="icofont-facebook  p-2 border-4 text-white " style="background-color:#2E2D7F; font-size:40px; margin-right:10px; border-radius:20px;"></i></a></li>
						<li><a href="#"><i class="icofont-google-plus  p-2 border-4 text-white " style="background-color:#2E2D7F; font-size:40px; margin-right:10px; border-radius:20px;"></i></a></li>
						<li><a href="#"><i class="icofont-twitter  p-2 border-4 text-white " style="background-color:#2E2D7F; font-size:40px; margin-right:10px; border-radius:20px;"></i></a></li>
						<li><a href="#"><i class="icofont-instagram  p-2 border-4 text-white " style="background-color:#2E2D7F; font-size:40px; margin-right:10px; border-radius:20px;"></i></a></li>

					</ul>
					<!-- End Social -->
				
							
							<!-- <img src="https://www.renewbuy.com/sites/default/files/2023-10/Asset%205%40300x%20%281%29.png"> -->
							<!-- <a href="claims_no.html"><div class="single-info">
								<i class="icofont icofont-live-support"></i>
								<div class="content">
									<h3>Are you a Client of CISL?</h3>
									<p>No, I am not!</p>
								</div>
							</div></a> -->
						</div>
						<!--/End single-info -->
						<!-- single-info -->
						
						<!--/End single-info -->
					</div>
					<hr>
					
				</div>
			</div>
		</section>
		<!--/ End Contact Us -->
		
{%endblock body%}