{% extends 'landingpage.html' %}

{% block body %}



    


<div class="container-fluid" >

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
        
        
      {% endfor %}
    {% endif %}
    {% endwith %}
    <br>

    {% if low_quantity_flash %}
    <div class="alert alert-danger" role="alert">
        {{ low_quantity_flash }}
    </div>
{% endif %}


 
       
        <div class="row g-6 mb-6" style="">
            <div class="col-xl-12 col-sm-12 col-12 ">
                <div class="card shadow border-0 ">
                    <div class="card-body ">
                        <div class="row " >
                            <div class="col ">
                                <span class="h3  text-muted text-sm d-block">{{greeting}}, {{current_user.name}} </span>
                                <span class="h5 font-bold mb-0">Welcome back</span>
                            </div>
                           
                        </div>
                        
                    </div>
                </div>
            </div>
          
            <div class="col-xl-4 col-sm-6 col-12 ">
                <div class="card shadow border-0 bg-blue-100">
                    <div class="card-body ">
                        <div class="row " >
                            <div class="col ">
                                <span class="h1 font-bold mb-0">{{ outstock}}</span>
                                <span class="h6 font-semibold text-muted text-sm d-block mb-2">Insurance listings</span>
                            </div>
                           
                        </div>
                        
                    </div>
                </div>
            </div>
          
            <div class="col-xl-4 col-sm-6 col-12">
                <div class="card shadow border-0 bg-orange-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="h1 font-bold mb-0">{{total_challenges}}</span>
                                <span class="h4 font-semibold text-muted text-sm d-block mb-2">Policy listings</span>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12">
                <div class="card shadow border-0 bg-green-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <span class="h1 font-bold mb-0">{{total_Faq}}</span>
                                <span class="h4 font-semibold text-muted text-sm d-block mb-2">Claim listings</span>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
            
          {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="row g-6 mb-6">
          
            
    
          <div class="card shadow border-0 mb-7 ">
            <div class="card-header d-flex " style="justify-content:space-between;">
                <h5 class="mb-0">All Claims</h5>
              <a href="/cisl">  <h5 class="mb-0 bg-primary text-white p-2" style="border-radius:5px; font-size:13px;"> <i class="bi bi-plus"></i>Add New</h5></a>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-nowrap">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Client Name</th>
                            <th scope="col">DOI</th>
                            <th scope="col">TOI</th>
                            <th scope="col">Contact Person</th>
                            <th scope="col">Type of Incident</th>
                            <th scope="col">Contact Number</th>
                            <th scope="col">Cost</th>
                           
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for users in users%} 
                        <tr>
                            <td>
                                
                                <a class="text-heading font-semibold" href="#">
                                    {{users.name}}
                                </a>
                            </td>
                            <td>
                               
                                {{users.date}}
                            
                            
                                <!--<span class="badge badge-lg badge-dot">
                                    {{users.tag}}
                                </span>-->
                            </td>
    
                            <td>
                                {{users.time}}
                            </td>
                            <td>
                                <span class="badge badge-pill bg-soft-danger text-danger me-2">
                                    <i class="bi bi-arrow-up me-1"></i>{{ users.name_of_contact}}
                                </span>
                                
                            </td>
                            <td>
                                <span class="badge badge-pill bg-soft-danger text-danger me-2">
                                    <i class="bi bi-arrow-up me-1"></i>{{ users.incident}}
                                </span>
                                
                            </td>

                            <td>
                               
                              
                                <span class="badge badge-lg badge-dot">
                                    <i class="bg-primary"></i>{{users.contact_number}}
                                </span>
    
                            </td>
    
                            <td>
                                <span class="badge badge-lg badge-dot">
                                    <i class="bg-danger"></i>{{users.cost}}
                                </span>
                            </td>
                           
                            
                           
    
                            <td class="text-end">
                                <!--<a href="#" class="btn btn-sm btn-neutral">Update</a>-->
                                <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                    <i class="bi bi-box-arrow-right"></i>
                                </button>
                            </td>
                        </tr>
    
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-0 py-5">
                <span class="text-muted text-sm">Showing 10 items per page</span>
            </div>
        </div>
      
     
    </div>
    
    
       <!-- <div class="card-footer border-0 py-5">
            <span class="text-muted text-sm" style="margin-left:500px; margin:">Powered by PrestoGhana</span>
        </div>
-->

  
    </div>
</div>


{%endblock body%}
