{% extends 'landingpage.html' %}

{% block body %}



    


<div class="container-fluid" >

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
        
        
      {% endfor %}
    {% endif %}
    {% endwith %}
    <br>

    {% if low_quantity_flash %}
    <div class="alert alert-danger" role="alert">
        {{ low_quantity_flash }}
    </div>
{% endif %}



       

    <div class="container-fluid">
       
        <div class="row g-6 mb-6">
          
            
    
          <div class="card shadow border-0 mb-7 ">
            <div class="card-header d-flex " style="justify-content:space-between;">
                <h5 class="mb-0">All Claims</h5>
              <a href="/cisl">  <h5 class="mb-0 bg-primary text-white p-2" style="border-radius:5px; font-size:13px;"> <i class="bi bi-plus"></i>Add New</h5></a>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-nowrap">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Client Name</th>
                            <th scope="col">DOI</th>
                            <th scope="col">TOI</th>
                            <th scope="col">Contact Person</th>
                            <th scope="col">Type of Incident</th>
                            <th scope="col">Contact Number</th>
                            <th scope="col">Cost</th>
                           
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for users in users%} 
                        <tr>
                            <td>
                                
                                <a class="text-heading font-semibold" href="#">
                                    {{users.name}}
                                </a>
                            </td>
                            <td>
                               
                                {{users.date}}
                            
                            
                                <!--<span class="badge badge-lg badge-dot">
                                    {{users.tag}}
                                </span>-->
                            </td>
    
                            <td>
                                {{users.time}}
                            </td>
                            <td>
                              
                                   {{ users.name_of_contact}}
                         
                                
                            </td>
                            <td>
                                <span class="badge badge-pill bg-soft-danger text-danger me-2">
                                    <i class="bi bi-arrow-up me-1"></i>{{ users.incident}}
                                </span>
                                
                            </td>

                            <td>
                               
                              
                                
                                    {{users.contact_number}}
                             
    
                            </td>
    
                            <td>
                                <span class="badge badge-lg badge-dot">
                                    <i class="bi bi-arrow-up me-1"></i>{{users.cost}}
                                </span>
                            </td>
                           
                            
                           
    
                            <td class="text-end">
                                <!--<a href="#" class="btn btn-sm btn-neutral">Update</a>-->
                                <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                    <i class="bi bi-box-arrow-right"></i>
                                </button>
                            </td>
                        </tr>
    
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-0 py-5">
                <span class="text-muted text-sm">Showing 10 items per page</span>
            </div>
        </div>
      
     
    </div>
    
    
       <!-- <div class="card-footer border-0 py-5">
            <span class="text-muted text-sm" style="margin-left:500px; margin:">Powered by PrestoGhana</span>
        </div>
-->

  
    </div>
</div>


{%endblock body%}
