{% extends'base.html' %}
{% block body %}
		<!-- Slider Area -->
		
		<!-- Start Schedule Area -->
		
		<!--/End Start schedule Area -->

		<!--/ End Feautes -->
		
		<hr>
		<!--/ End Fun-facts -->
		
		
		<!-- Start Call to action -->
		
		<!--/ End Call to action -->
		
		<!-- Start portfolio -->
		
		<!--/ End portfolio -->
						<div class="container">
							<h4 class="fs-2">Frequently Asked Questions</h4>
							<p>Our client’s interest always takes priority over our own in all matters relating to the service we provide.  </p>	
						</div>
	
	<section class="services section">
			<div class="container">
				<div class="accordion" id="accordionExample">
					<div class="accordion-item">
					  <h2 class="accordion-header">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							1. What does an insurance broker do?  
						</button>
					  </h2>
					  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
						<div class="accordion-body">
						  An insurance broker is a professional who represents the interests of individuals or businesses seeking insurance coverage. Their primary role is to assess the client's specific circumstances and risks, then research and recommend suitable insurance policies from various insurers. The broker essentially acts as an intermediary, advocating for the client rather than any particular insurance company. This allows them to provide impartial advice and secure the best possible policy terms that align with the client's unique requirements and budget.
						</div>
					  </div>
					</div>
					<div class="accordion-item">
					  <h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							2. How is a broker different than an insurance agent?
						</button>
					  </h2>
					  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Unlike insurance agents who are employed by and obligated to promote the products and interest of a single insurer, insurance brokers operate independently. This independence enables brokers to offer clients an impartial assessment of insurance options across multiple providers. By evaluating and comparing policies from various insurance companies, brokers can identify the coverage that optimally meets the client's specific needs and situation.
						</div>
					  </div>
					</div>
					<div class="accordion-item">
					  <h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							3. What types of insurance can a broker help with?
						</button>
					  </h2>
					  <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Brokers can help with home, motor, life, health, business, liability, engineering, construction, and many other kinds of insurance.
						</div>
					  </div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header">
						  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
							4. Why use a broker instead of buying direct?   
						  </button>
						</h2>
						<div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
						  <div class="accordion-body">
							Insurance brokers are experts who use their knowledge and professional training to give advice to help clients pick the right insurance. Because brokers can look at insurance from many different companies, not just one, they are able to find more options for the client to choose from. This increases the chances of getting a policy that meets the client's specific needs at a good price. Brokers also help clients when making a claim by dealing with the insurance company, filling out paperwork, negotiating for payment, and resolving any issues. This makes the claims process easier for the client.
						  </div>
						</div>
					  </div>
				 

				<div class="accordion-item">
					<h2 class="accordion-header">
					  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
						5. How are brokers paid? 
					  </button>
					</h2>
					<div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					  <div class="accordion-body">
						Brokers get paid by the insurance companies when they help clients buy insurance policies. The commission paid by the insurance company covers the broker's services related to finding and setting up an insurance policy for a client. So, for typical insurance services, the client does not pay the broker directly. However, if a client needs the broker to do extra work beyond the normal insurance services, the broker may charge the client an additional fee for those services. The client would need to agree to any fees before the broker does that extra work.
					  </div>
					</div>
				  </div>

				  <div class="accordion-item">
					<h2 class="accordion-header">
					  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
						6. What should I look for when choosing a broker?  
					  </button>
					</h2>
					<div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					  <div class="accordion-body">
						When choosing an insurance broker, look for someone who has the required professional training and licenses to operate legally. Pick a broker with plenty of experience in the insurance industry. Read reviews from other clients to make sure the broker has a good reputation. The broker should be able to provide you with many different insurance product choices from multiple companies. Select a broker who offers excellent customer service by being responsive and helpful. Finally, make sure the broker is fully upfront about things like fees, commissions, and any potential conflicts of interest.
					  </div>
					</div>
				  </div>

				  <div class="accordion-item">
					<h2 class="accordion-header">
					  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
						7. How does a broker assess my needs? 
					  </button>
					</h2>
					<div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					  <div class="accordion-body">
						The broker will have an in-depth conversation with you to fully understand your personal or business circumstances. They will carefully look at what kinds of risks or potential losses you face. The broker will then investigate and compare the different insurance products available. After doing this research, they will suggest insurance coverage options that provide the right protection for your specific situation.
					  </div>
					</div>
				  </div>

				  <div class="accordion-item">
					<h2 class="accordion-header">
					  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
						8. Can a broker help with claims?
					  </button>
					</h2>
					<div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					  <div class="accordion-body">
						Yes, when you need to make an insurance claim, brokers will help guide you through the entire process. They will assist with filling out and submitting all the required paperwork and documentation. Brokers will also advocate on your behalf with the insurance company to ensure you receive a fair payment amount for your claim. If any problems or disputes arise during the claim, the broker will work to resolve the issues for you.
					  </div>
					</div>
				  </div>


				  <div class="accordion-item">
					<h2 class="accordion-header">
					  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsNine" aria-expanded="false" aria-controls="collapseNine">
						9. Do brokers provide risk management advice?
					  </button>
					</h2>
					<div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					  <div class="accordion-body">
						Yes, in addition to helping with insurance, many brokers provide advice on risk management. They can help identify potential risks or dangers that could lead to losses for you or your business. Brokers can recommend ways to prevent or reduce these risks from happening in the first place. They also advise on how to protect against and manage risks by getting the right types and amounts of insurance coverage.
					  </div>
					</div>
				  </div>

				  <div class="accordion-item">
					<h2 class="accordion-header">
					  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsTen" aria-expanded="false" aria-controls="collapseTen">
						10. How should I prepare to meet a broker?
					  </button>
					</h2>
					<div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					  <div class="accordion-body">
						Before meeting with an insurance broker, get together details on the things you own (assets) and any insurance policies you currently have. Make a list of what you need insurance for and any specific worries you have. Also write down questions you want to ask the broker about how much the insurance will cost and exactly what coverages are included in the policies. Having this information prepared ahead of time will help make the most of your meeting with the broker.
					  </div>
					</div>
				  </div>
				
				</div>
			</div>
	</section>
						<!-- Start Single Service 
						<div class="single-service">
							<i class="icofont icofont-live-support"></i>
							<h4><a href="service-details.html">Client Interest</a></h4>
							<p>Our client’s interest always takes priority over our own in all matters relating to the service we provide.  </p>	
						</div>
						<!-- End Single Service 
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service 
						<div class="single-service">
							<i class="icofont icofont-live-support"></i>
							<h4><a href="service-details.html">Client Need</a></h4>
							<p>We will collect information from you about your needs and take reasonable steps to ensure that the products we offer are suitable for those needs.  </p>	
						</div>
						<!-- End Single Service 
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service 
						<div class="single-service">
							<i class="icofont icofont-live-support"></i>
							<h4><a href="service-details.html">Financial Accountability</a></h4>
							<p>We have and maintain an adequate professional indemnity policy for this purpose. </p>	
						</div>
						<!-- End Single Service 
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service 
						<div class="single-service">
							<i class="icofont icofont-live-support"></i>
							<h4><a href="service-details.html">Conflict of Interest</a></h4>
							<p>
								We will, as much as possible, avoid knowingly entering into situations where the underlying cir- cumstances could prejudice or bias the provision of our services. </p>	
						</div>
						<!-- End Single Service 
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service 
						<div class="single-service">
							<i class="icofont icofont-live-support"></i>
							<h4><a href="service-details.html">Confidentiality</a></h4>
							<p>We are committed to maintaining the confidentiality of your information and will take all reasonable steps to protect it.
							</p>	
						</div>
						<!-- End Single Service 
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service 
						<div class="single-service">
							<i class="icofont icofont-live-support"></i>
							<h4><a href="service-details.html">General Information Disclosure</a></h4>
							<p>We will ensure that you are fully informed of
								all relevant information, relating to the risk and benefits of all products and transactions being considered.  </p>	
						</div>
						<!-- End Single Service 
					</div>
				</div>
			</div>
		</section> -->
		<!--/ End service -->
		<!-- .. -->
		<!-- Pricing Table -->
		<!--<section class="pricing-table section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>We Provide You The Best Treatment In Resonable Price</h2>
							<img src="static/cisl/img/section-img.png" alt="#">
							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- Single Table 
					<div class="col-lg-4 col-md-12 col-12">
						<div class="single-table">
						
							<div class="table-head">
								<div class="icon">
									<i class="icofont icofont-ui-cut"></i>
								</div>
								<h4 class="title">Plastic Suggery</h4>
								<div class="price">
									<p class="amount">$199<span>/ Per Visit</span></p>
								</div>	
							</div>
						
							<ul class="table-list">
								<li><i class="icofont icofont-ui-check"></i>Lorem ipsum dolor sit</li>
								<li><i class="icofont icofont-ui-check"></i>Cubitur sollicitudin fentum</li>
								<li class="cross"><i class="icofont icofont-ui-close"></i>Nullam interdum enim</li>
								<li class="cross"><i class="icofont icofont-ui-close"></i>Donec ultricies metus</li>
								<li class="cross"><i class="icofont icofont-ui-close"></i>Pellentesque eget nibh</li>
							</ul>
							<div class="table-bottom">
								<a class="btn" href="#">Book Now</a>
							</div>
						
						</div>
					</div>
					
					<div class="col-lg-4 col-md-12 col-12">
						<div class="single-table">
							
							<div class="table-head">
								<div class="icon">
									<i class="icofont icofont-tooth"></i>
								</div>
								<h4 class="title">Teeth Whitening</h4>
								<div class="price">
									<p class="amount">$299<span>/ Per Visit</span></p>
								</div>	
							</div>
						
							<ul class="table-list">
								<li><i class="icofont icofont-ui-check"></i>Lorem ipsum dolor sit</li>
								<li><i class="icofont icofont-ui-check"></i>Cubitur sollicitudin fentum</li>
								<li><i class="icofont icofont-ui-check"></i>Nullam interdum enim</li>
								<li class="cross"><i class="icofont icofont-ui-close"></i>Donec ultricies metus</li>
								<li class="cross"><i class="icofont icofont-ui-close"></i>Pellentesque eget nibh</li>
							</ul>
							<div class="table-bottom">
								<a class="btn" href="#">Book Now</a>
							</div>
						
						</div>
					</div>
					
					<div class="col-lg-4 col-md-12 col-12">
						<div class="single-table">
							
							<div class="table-head">
								<div class="icon">
									<i class="icofont-heart-beat"></i>
								</div>
								<h4 class="title">Heart Suggery</h4>
								<div class="price">
									<p class="amount">$399<span>/ Per Visit</span></p>
								</div>	
							</div>
					
							<ul class="table-list">
								<li><i class="icofont icofont-ui-check"></i>Lorem ipsum dolor sit</li>
								<li><i class="icofont icofont-ui-check"></i>Cubitur sollicitudin fentum</li>
								<li><i class="icofont icofont-ui-check"></i>Nullam interdum enim</li>
								<li><i class="icofont icofont-ui-check"></i>Donec ultricies metus</li>
								<li><i class="icofont icofont-ui-check"></i>Pellentesque eget nibh</li>
							</ul>
							<div class="table-bottom">
								<a class="btn" href="#">Book Now</a>
							</div>
							
						</div>
					</div>
				
				</div>	
			</div>	
		</section>	-->
		<!--/ End Pricing Table -->
		
		
		
		<!-- Start Blog Area -->
		<!-- <section class="blog section" id="blog">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Keep up with Our Most Recent News.</h2>
							<img src="static/cisl/img/section-img.png" alt="#">
							<p>Step into a world of empowerment with CISL. Connect with us today to embark on a path where exceptional service, tailored coverage, and cost-effectiveness converge. </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog 
						<div class="single-news">
							<div class="news-head">
								<img src="static/cisl/img/blog1.jpg" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<div class="date">22 Aug, 2020</div>
									<h2><a href="blog-single.html">We have annnocuced our new product.</a></h2>
									<p class="text">Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod tempor incididunt sed do incididunt sed.</p>
								</div>
							</div>
						</div>
						<!-- End Single Blog 
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog 
						<div class="single-news">
							<div class="news-head">
								<img src="static/cisl/img/blog2.jpg" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<div class="date">15 Jul, 2020</div>
									<h2><a href="blog-single.html">Top five way for solving teeth problems.</a></h2>
									<p class="text">Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod tempor incididunt sed do incididunt sed.</p>
								</div>
							</div>
						</div>
						<!-- End Single Blog 
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog 
						<div class="single-news">
							<div class="news-head">
								<img src="static/cisl/img/blog3.jpg" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<div class="date">05 Jan, 2020</div>
									<h2><a href="blog-single.html">We provide highly business soliutions.</a></h2>
									<p class="text">Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod tempor incididunt sed do incididunt sed.</p>
								</div>
							</div>
						</div>
						<!-- End Single Blog 
					</div>
				</div>
			</div>
		</section>
		End Blog Area -->
		
		<!-- Start clients -->
		<!-- <div class="clients overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="owl-carousel clients-slider">
							<div class="single-clients">
								<img src="static/cisl/img/web2.png" alt="#">

							</div>
							<div class="single-clients">
								<img src="static/cisl/img/web2.png" alt="#">

							</div>
							<div class="single-clients">
								<img src="static/cisl/img/web2.png" alt="#">

							</div>
							<div class="single-clients">
								<img src="static/cisl/img/web2.png" alt="#">

							</div>
							<div class="single-clients">
								<img src="static/cisl/img/web2.png" alt="#">

							</div>
							<div class="single-clients">
								<img src="static/cisl/img/web2.png" alt="#">

							</div>
							<div class="single-clients">
								<img src="static/cisl/img/web2.png" alt="#">

							</div>
							<div class="single-clients">
								<img src="static/cisl/img/web2.png" alt="#">

							</div>
							<div class="single-clients">
								<img src="static/cisl/img/web2.png" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div> -->
		<!-- </div> -->
		<!--/Ens clients -->
		
		<!-- Start Appointment -->
		<!--<section class="appointment">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>We Are Always Ready to Help You. Book An Appointment</h2>
							<img src="static/cisl/img/section-img.png" alt="#">
							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-12 col-12">
						<form class="form" action="#">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="name" type="text" placeholder="Name">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="email" type="email" placeholder="Email">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="phone" type="text" placeholder="Phone">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<div class="nice-select form-control wide" tabindex="0"><span class="current">Department</span>
											<ul class="list">
												<li data-value="1" class="option selected ">Department</li>
												<li data-value="2" class="option">Cardiac Clinic</li>
												<li data-value="3" class="option">Neurology</li>
												<li data-value="4" class="option">Dentistry</li>
												<li data-value="5" class="option">Gastroenterology</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<div class="nice-select form-control wide" tabindex="0"><span class="current">Doctor</span>
											<ul class="list">
												<li data-value="1" class="option selected ">Doctor</li>
												<li data-value="2" class="option">Dr. Akther Hossain</li>
												<li data-value="3" class="option">Dr. Dery Alex</li>
												<li data-value="4" class="option">Dr. Jovis Karon</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input type="text" placeholder="Date" id="datepicker">
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-12">
									<div class="form-group">
										<textarea name="message" placeholder="Write Your Message Here....."></textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-5 col-md-4 col-12">
									<div class="form-group">
										<div class="button">
											<button type="submit" class="btn">Book An Appointment</button>
										</div>
									</div>
								</div>
								<div class="col-lg-7 col-md-8 col-12">
									<p>( We will be confirm by an Text Message )</p>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-6 col-md-12 ">
						<div class="appointment-image">
							<img src="static/cisl/img/contact-img.png" alt="#">
						</div>
					</div>
				</div>
			</div>
		</section>-->
		<!-- End Appointment -->
		
		<!-- Start Newsletter Area -->
		<!-- <section class="newsletter section">
			<div class="container">
				<div class="row ">
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form 
						<div class="subscribe-text ">
							<h6>Core Insurance Limited</h6>
							<p class="">Transforming Insurance Experience <br>with Expertise and Excellence</p>
						</div>
						<!-- End Newsletter Form 
					</div>
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form --
						<div class="subscribe-form ">
							<a href="index.html"><img src="static/cisl/img/web2.png" style="width:100px;" alt="#"></a>
							<!--<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="EMAIL" placeholder="Your email address" class="common-input" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Your email address'" required="" type="email">
								<button class="btn">Subscribe</button>
							</form>--
						</div>
						<!-- End Newsletter Form --
					</div>
				</div>
			</div>
		</section> -->
		<!-- /End Newsletter Area -->
		
{% endblock body%}