{% extends'base.html' %}
{% block body %}
		<!-- Slider Area -->
		
		<!--/ End Slider Area -->
		
		<!-- Start Schedule Area -->
		
	
		<!--/End Start schedule Area -->

		<!-- Start Feautes -->
		
		<!--/ End Feautes -->
		
		<!-- Start Fun-facts -->
		<hr>
		<!--/ End Fun-facts -->
		
		<section class="schedule">
			<div class="container">
				<div class="">
					<div class="row">
						<div class="col-lg-12 col-md-6 col-12">
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									<div class="icon">
										<i class="icofont-ui-clock" style="color:green;"></i>
									</div>
									<div class="single-content p-10" style="padding:20px;">
										<span>ABOUT US>      </span>
										<h2 class="text-white">Board Of Directors</h2>
										
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</section>
		<!-- Start Why choose -->
		<section class="mb-10" >
			<div class="container" style="margin-bottom:100px;">
				
				<div class="row">
					<div class="col-lg-4 col-12 border-3" data-aos="zoom-in-up" >
						<!-- Start Choose Rights -->
						<!-- Start Choose Rights -->
						<img src="static/cisl/img/chairman.jpeg" style="border-radius:10px; height:400px; margin-bottom:30px; object-fit:cover;">
						<hr>
						<h6 style=" margin-bottom:10px;"><b >Kobi Walker</b></h6>
						<h6> <span style="color: rgb(156, 29, 160); ">Chairman</span></h6>
						
						<!-- End Choose Rights -->
					</div>
					<div class="col-lg-4 col-12 border-3" data-aos="zoom-in-up" >
						<!-- Start Choose Rights -->
						<!-- Start Choose Rights -->
						<img src="static/cisl/img/.jpeg" style="border-radius:10px; height:400px; margin-bottom:30px; object-fit:cover;">
						<hr>
						<h6 style=" margin-bottom:10px;"><b >Drucil E. Taylor Esq.</b></h6>
						<h6> <span style="color: rgb(156, 29, 160); ">Legal</span></h6>
						
						<!-- End Choose Rights -->
					</div>H
					<div class="col-lg-4 col-12 border-3" data-aos="zoom-in-up" >
						<!-- Start Choose Rights -->
						<!-- Start Choose Rights -->
						<img src="static/cisl/img/ceo.jpeg" style="border-radius:20px; height:400px; margin-bottom:30px; object-fit:cover;">
						<hr>
						<h6 style=" margin-bottom:10px;"><b >Mr Joshua Bonney (ACII)</b></h6>
						<h6> <span style="color: rgb(156, 29, 160); ">Chief Executive Officer</span></h6>
				
						<!-- End Choose Rights -->
					</div>
					
					
					
					<!--<div class="col-lg-8 col-12">
					
						<div class="choose-left">
							<h6 style=" margin-bottom:10px;"><b >Mr Joshua Bonney (ACII)</b></h6>
							<h6> <b style="color: rgb(156, 29, 160); ">Chief Executive Officer</b></h6>
							<p style="margin-top:10px;">A Chartered Insurance Practitioner with over two decades of experience in the insurance industry, is the team leader and Chief Executive Officer at Core Insurance Solutions Limited. The Chartered Insurance Institute in London has accredited him as a Chartered Insurance Practitioner. Joshua holds a Master of Science in Actuarial Science from Heriot-Watt University, Edinburgh, and a Bachelor of Education in Mathematics from the University of Cape Coast, Ghana. 

								<br><br>
								With a wealth of experience, Joshua specialises in Property Damage, Fiduciary, Mining, Energy, Marine, Construction, and Engineering insurances. He possesses a profound understanding of the distinct risks associated with each industry, assisting clients in effectively managing and reducing these risks. Joshua, known for his client-centric approach, always puts his clients' best interests first. 
								
								<br><br>Joshua's meticulous attention to detail and exceptional analytical abilities have played a pivotal role in restructuring insurance programmes for numerous clients. Notably, he has significantly improved the insurance portfolios of prominent clients such as Vimetco, Ecobank SL Ltd., Zenith Bank SL Ltd., Mano Mining, and NP Sierra Leone. His strategic approach has resulted in substantial enhancements to their insurance arrangements, ensuring they receive optimal coverage tailored to their specific requirements.<br><br>
								 Joshua has successfully secured substantial claims for both individual and corporate clients, including Sierra Rutile, Vimetco, Ecobank Microfinance, and Orange Sierra Leone.
								  </p>

							
						</div>
					
					</div>
					
				</div>-->
			</div>
		</section>
		<hr>
		<!--/ End Why choose -->
		
		<!-- Start Call to action -->
		
		<!--/ End Call to action -->
		
		<!-- Start portfolio -->
		
		<!--/ End portfolio -->
		
		<!-- Start service -->
	
		<!--/ End service -->
		<!-- .. -->
		<!-- Pricing Table -->
		<!--<section class="pricing-table section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>We Provide You The Best Treatment In Resonable Price</h2>
							<img src="static/cisl/img/section-img.png" alt="#">
							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- Single Table 
					<div class="col-lg-4 col-md-12 col-12">
						<div class="single-table">
						
							<div class="table-head">
								<div class="icon">
									<i class="icofont icofont-ui-cut"></i>
								</div>
								<h4 class="title">Plastic Suggery</h4>
								<div class="price">
									<p class="amount">$199<span>/ Per Visit</span></p>
								</div>	
							</div>
						
							<ul class="table-list">
								<li><i class="icofont icofont-ui-check"></i>Lorem ipsum dolor sit</li>
								<li><i class="icofont icofont-ui-check"></i>Cubitur sollicitudin fentum</li>
								<li class="cross"><i class="icofont icofont-ui-close"></i>Nullam interdum enim</li>
								<li class="cross"><i class="icofont icofont-ui-close"></i>Donec ultricies metus</li>
								<li class="cross"><i class="icofont icofont-ui-close"></i>Pellentesque eget nibh</li>
							</ul>
							<div class="table-bottom">
								<a class="btn" href="#">Book Now</a>
							</div>
						
						</div>
					</div>
					
					<div class="col-lg-4 col-md-12 col-12">
						<div class="single-table">
							
							<div class="table-head">
								<div class="icon">
									<i class="icofont icofont-tooth"></i>
								</div>
								<h4 class="title">Teeth Whitening</h4>
								<div class="price">
									<p class="amount">$299<span>/ Per Visit</span></p>
								</div>	
							</div>
						
							<ul class="table-list">
								<li><i class="icofont icofont-ui-check"></i>Lorem ipsum dolor sit</li>
								<li><i class="icofont icofont-ui-check"></i>Cubitur sollicitudin fentum</li>
								<li><i class="icofont icofont-ui-check"></i>Nullam interdum enim</li>
								<li class="cross"><i class="icofont icofont-ui-close"></i>Donec ultricies metus</li>
								<li class="cross"><i class="icofont icofont-ui-close"></i>Pellentesque eget nibh</li>
							</ul>
							<div class="table-bottom">
								<a class="btn" href="#">Book Now</a>
							</div>
						
						</div>
					</div>
					
					<div class="col-lg-4 col-md-12 col-12">
						<div class="single-table">
							
							<div class="table-head">
								<div class="icon">
									<i class="icofont-heart-beat"></i>
								</div>
								<h4 class="title">Heart Suggery</h4>
								<div class="price">
									<p class="amount">$399<span>/ Per Visit</span></p>
								</div>	
							</div>
					
							<ul class="table-list">
								<li><i class="icofont icofont-ui-check"></i>Lorem ipsum dolor sit</li>
								<li><i class="icofont icofont-ui-check"></i>Cubitur sollicitudin fentum</li>
								<li><i class="icofont icofont-ui-check"></i>Nullam interdum enim</li>
								<li><i class="icofont icofont-ui-check"></i>Donec ultricies metus</li>
								<li><i class="icofont icofont-ui-check"></i>Pellentesque eget nibh</li>
							</ul>
							<div class="table-bottom">
								<a class="btn" href="#">Book Now</a>
							</div>
							
						</div>
					</div>
				
				</div>	
			</div>	
		</section>	-->
		<!--/ End Pricing Table -->
		
		
		
		<!-- Start Blog Area -->
		<!-- <section class="blog section" id="blog">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>Keep up with Our Most Recent News.</h2>
							<img src="static/cisl/img/section-img.png" alt="#">
							<p>Step into a world of empowerment with CISL. Connect with us today to embark on a path where exceptional service, tailored coverage, and cost-effectiveness converge. </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog 
						<div class="single-news">
							<div class="news-head">
								<img src="static/cisl/img/blog1.jpg" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<div class="date">22 Aug, 2020</div>
									<h2><a href="blog-single.html">We have annnocuced our new product.</a></h2>
									<p class="text">Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod tempor incididunt sed do incididunt sed.</p>
								</div>
							</div>
						</div>
						<!-- End Single Blog 
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog 
						<div class="single-news">
							<div class="news-head">
								<img src="static/cisl/img/blog2.jpg" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<div class="date">15 Jul, 2020</div>
									<h2><a href="blog-single.html">Top five way for solving teeth problems.</a></h2>
									<p class="text">Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod tempor incididunt sed do incididunt sed.</p>
								</div>
							</div>
						</div>
						<!-- End Single Blog 
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog 
						<div class="single-news">
							<div class="news-head">
								<img src="static/cisl/img/blog3.jpg" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<div class="date">05 Jan, 2020</div>
									<h2><a href="blog-single.html">We provide highly business soliutions.</a></h2>
									<p class="text">Lorem ipsum dolor a sit ameti, consectetur adipisicing elit, sed do eiusmod tempor incididunt sed do incididunt sed.</p>
								</div>
							</div>
						</div>
						<!-- End Single Blog 
					</div>
				</div>
			</div>
		</section>
		End Blog Area -->
		
		<!-- Start clients -->
		<!-- <div class="clients overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="owl-carousel clients-slider">
							<div class="single-clients">
								<img src="static/cisl/img/web2.png" alt="#">

							</div>
							<div class="single-clients">
								<img src="static/cisl/img/web2.png" alt="#">

							</div>
							<div class="single-clients">
								<img src="static/cisl/img/web2.png" alt="#">

							</div>
							<div class="single-clients">
								<img src="static/cisl/img/web2.png" alt="#">

							</div>
							<div class="single-clients">
								<img src="static/cisl/img/web2.png" alt="#">

							</div>
							<div class="single-clients">
								<img src="static/cisl/img/web2.png" alt="#">

							</div>
							<div class="single-clients">
								<img src="static/cisl/img/web2.png" alt="#">

							</div>
							<div class="single-clients">
								<img src="static/cisl/img/web2.png" alt="#">

							</div>
							<div class="single-clients">
								<img src="static/cisl/img/web2.png" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div> -->
		<!-- </div> -->
		<!--/Ens clients -->
		
		<!-- Start Appointment -->
		<!--<section class="appointment">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>We Are Always Ready to Help You. Book An Appointment</h2>
							<img src="static/cisl/img/section-img.png" alt="#">
							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-12 col-12">
						<form class="form" action="#">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="name" type="text" placeholder="Name">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="email" type="email" placeholder="Email">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="phone" type="text" placeholder="Phone">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<div class="nice-select form-control wide" tabindex="0"><span class="current">Department</span>
											<ul class="list">
												<li data-value="1" class="option selected ">Department</li>
												<li data-value="2" class="option">Cardiac Clinic</li>
												<li data-value="3" class="option">Neurology</li>
												<li data-value="4" class="option">Dentistry</li>
												<li data-value="5" class="option">Gastroenterology</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<div class="nice-select form-control wide" tabindex="0"><span class="current">Doctor</span>
											<ul class="list">
												<li data-value="1" class="option selected ">Doctor</li>
												<li data-value="2" class="option">Dr. Akther Hossain</li>
												<li data-value="3" class="option">Dr. Dery Alex</li>
												<li data-value="4" class="option">Dr. Jovis Karon</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input type="text" placeholder="Date" id="datepicker">
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-12">
									<div class="form-group">
										<textarea name="message" placeholder="Write Your Message Here....."></textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-5 col-md-4 col-12">
									<div class="form-group">
										<div class="button">
											<button type="submit" class="btn">Book An Appointment</button>
										</div>
									</div>
								</div>
								<div class="col-lg-7 col-md-8 col-12">
									<p>( We will be confirm by an Text Message )</p>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-6 col-md-12 ">
						<div class="appointment-image">
							<img src="static/cisl/img/contact-img.png" alt="#">
						</div>
					</div>
				</div>
			</div>
		</section>-->
		<!-- End Appointment -->
		
		<!-- Start Newsletter Area -->
		<!-- <section class="newsletter section">
			<div class="container">
				<div class="row ">
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form 
						<div class="subscribe-text ">
							<h6>Core Insurance Limited</h6>
							<p class="">Transforming Insurance Experience <br>with Expertise and Excellence</p>
						</div>
						<!-- End Newsletter Form 
					</div>
					<div class="col-lg-6  col-12">
						<!-- Start Newsletter Form --
						<div class="subscribe-form ">
							<a href="index.html"><img src="static/cisl/img/web2.png" style="width:100px;" alt="#"></a>
							<!--<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
								<input name="EMAIL" placeholder="Your email address" class="common-input" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Your email address'" required="" type="email">
								<button class="btn">Subscribe</button>
							</form>--
						</div>
						<!-- End Newsletter Form --
					</div>
				</div>
			</div>
		</section> -->
		<!-- /End Newsletter Area -->
		
{% endblock body%}