{% extends 'landingpage.html' %}

{% block body %}





    


<div class="container-fluid" >

   
  
  



       

    <div class="container-fluid">

         
      <span class="text-muted text-lg mb-3">Search for a Staff Unique Code:</span>
       
       <form class="form-control d-flex mb-10" role="search" method='POST' action='{{url_for('searchstaff')}}' >
        {{form.hidden_tag()}}
      
        <input class="form-control" type="search" name='searched' placeholder="Search for Staff Unique Code" >
        <button class="btn btn-primary p-4" type="submit" > Search</button>
          
      </form>




      


    
    

  
    </div>
</div>

     
       
      
        
      
        
      
      
   

      {%endblock body%}
