{% extends'base.html' %}
{% block body %}
		<!-- End Header Area -->
	
		<!-- Breadcrumbs -->
		<!-- <div class="breadcrumbs overla">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<!--<div class="col-12">
							<h2>Contact Us</h2>
							<ul class="bread-list">
								<li><a href="index.html">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Contact Us</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- End Breadcrumbs -->
		<section class="call-action overla" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row" style="height:400px;">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="content">
							<!-- <h2 >Do you need an Insurance placements?</h2> -->
							<!-- <p>We partner with major International Insurers, in addition to Local Insurers.</p> -->
							
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="schedule">
			<div class="container">
				<div class="schedule-inner">
					<div class="row" 
					>
						<div class="col-lg-4 col-md-6 col-12 " data-aos="zoom-in-up" >
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									<div class="icon">
										<i class="icofont-ui-clock" style="color:green;"></i>
									</div>
									<div class="single-content">
										<span>Why Choose CISL</span>
										<h4>Exceptional Client Experience:</h4>
										<p> We understand that navigating insurance can be complex and intimidating.</p>
										<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12" data-aos="zoom-in-up">
							<!-- single-schedule -->
							<div class="single-schedule middle">
								<div class="inner">
									<div class="icon">
										<i class="icofont-ui-clock" style="color:green;"></i>
									</div>
									<div class="single-content">
										<span>Why Choose CISL</span>
										<h4>Optimal and Enhanced Insurance Coverage:</h4>
										<p>Generic or standard policies are not effective or sufficient when it comes to protecting the most important things.</p>
										<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-12" data-aos="zoom-in-up">
							<!-- single-schedule -->
							<div class="single-schedule last">
								<div class="inner">
									<div class="icon">
										<i class="icofont-ui-clock" style="color:green;"></i>
									</div>
									<div class="single-content">
										<span>Why Choose CISL</span>
										<h4>Competitive Premiums:</h4>
										<p>Our approach to competitive premiums converges quality protection with affordability.Client satisfaction is the bedrock of our business. </p>
										<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
				
		<!-- Start Contact Us -->
		<section class="">
			<div class="container">
				
					<div class="contact-info">
						<h6 style="text-align: left; margin-bottom:20px;">Follow the steps to make a Medical Assistance.</h6>

						
					<hr>
					<div class="row">
						<!-- single-info -->
						
						
						<div class="col-lg-4 col-12 ">
							<h6 style="text-align: left; ">Want to sign up to out Health Insurance</h6>
			
							<div class="get-quote" style="background-color: #2E2D7F; width:100px; border-radius:30px;">
								<a href="appointment.html" style="background-color:#2E2D7F; border-radius:30px;" class="btn"><i class="icofont icofont-enter"></i> Click here</a>
							</div>

			
			
				<!-- <div class="get-quote mt-9" style=" border-radius:30px; margin-top:40px;">
					<a href="https://abitrack.com/cisl" style="background-color:#2E2D7F; border-radius:30px; margin-bottom:40px;" class="btn">Submit Claims Online</a>
				</div> -->

							<!-- <a href="https://abitu-ce1b6c8eb118.herokuapp.com/cisl"><div class="single-info">
								<i class="icofont icofont-live-support" style="color:antiquewhite; "></i>
								<div class="content">
									<h1 style="color:#fff;">Make a Claim</h1>
								</div>
							</div></a> -->
							
						</div>
						<!-- <div class="col-lg-1 col-12 ">
						<div class="vertical-hr" style="border-left: 1px solid black;
						height: 300px;"></div>
						</div> -->
						<!--/End single-info -->
						
						<!-- single-info -->
						<div class="col-lg-8 col-12 ">
							<h4 style="text-align: left; margin-bottom:20px;"><b>Non-CISL Claims</b></h4>
		
				<!-- <h6 style="text-align: left; margin-bottom:2px;" class="text-muted">Introduction</h6> -->

							<p style="text-align: left;" >On the happening of an incident we encourage you to complete this form and submit to us. </p>
				<p>We are devoted to your success, walking alongside you every step of the way to ensure your insurance journey</p><br>
				
					
					
							<p style="background-color:azure; padding:20px;"><b>* Disclaimer *</b><br>
							
	
								I/We, the undersigned person(s), hereby kindly request the support of Core Insurance Solutions Limited (CISL) in pursuing our insurance claim. We affirm that we have not been induced, coerced, threatened, or promised any form of inducement by CISL, its employees, agents, assigns director(s), or any other persons to contact CISL for assistance with our claim.
								<br><br>
								I/We understand and agree to comply with the terms and conditions of CISL's claim support services.
							<br><br>	<label>
									<input type="radio" name="yesNo" value="no" onchange="toggleQuestions()" checked>
									I Agree with this claim.
								</label>
							</p>
							
					
			
				
			
							<!-- <img src="https://www.renewbuy.com/sites/default/files/2023-10/Asset%205%40300x%20%281%29.png"> -->
							<!-- <a href="claims_no.html"><div class="single-info">
								<i class="icofont icofont-live-support"></i>
								<div class="content">
									<h3>Are you a Client of CISL?</h3>
									<p>No, I am not!</p>
								</div>
							</div></a> -->
						</div>
						<!--/End single-info -->
						<!-- single-info -->
						
						<!--/End single-info -->
					</div>
					<hr>
				</div>
			</div>
		</section>
		<!--/ End Contact Us -->
		
{%endblock body%}