{% extends'base.html' %}
{% block body %}





<!--/ End Feautes -->

<!-- Start Fun-facts -->
<div id="fun-facts" class="fun-facts section ">
	<div class="container">
		<div class="row">
			
			<!--<div class="col-lg-3 col-md-6 col-12">
				
				<div class="single-fun">
					<i class="icofont icofont-home"></i>
					<div class="content">
						<span class="counter">3468</span>
						<p>Hospital Rooms</p>
					</div>
				</div>
			
			</div>-->
			<!--<div class="col-lg-3 col-md-6 col-12">
				<!-- Start Single Fun 
				<div class="single-fun">
					<i class="icofont icofont-user-alt-3"></i>
					<div class="content">
						<span class="counter">557</span>
						<p>Specialist Doctors</p>
					</div>
				</div>
				<!-- End Single Fun 
			</div>-->
			<div class="col-lg-6 col-md-6 col-12" data-aos="zoom-in-right">
				
					<h2  style="color:#2E2D7F;"><b>Want To Know About Our Diverse Products.<b></h2>
					<img src="static/cisl/img/section-img.png" alt="#">
					
				
				<!-- Start Single Fun -->
				
				<!-- End Single Fun -->
			</div>
			<!--<div class="col-lg-6 col-md-6 col-12">
			
				<div class="single-fun">
					<i class="icofont icofont-table"></i>
					<div class="content">
						<span class="counter">32</span>
						<p>Years of Experience</p>
					</div>
				</div>
		
			</div>-->
		</div>
	</div>
</div>
<!--/ End Fun-facts -->

<section class="schedule">
	<div class="container ">
		<div class="schedule-inner bg-warning-light" style="padding:20px; border-radius:10px;">
			<p style="color:#2E2D7F;"><b>Products in this category</b></p><br>
			<div class="row" >
				<div class="col-lg-3 col-md-6 col-12 " data-aos="zoom-in-up" >
					<!-- single-schedule -->
					<div class="single-schedule first">
						<div class="inner">
							<div class="single-features">
								<div class="signle-icon">
								</div>
							</div>
							<div class="single-content" style="text-align:center;">
								<i class="icofont icofont-diamond" style="font-size:40px; color:#fff; margin:auto;"></i>
								<span>Insurance Packages</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-12 " data-aos="zoom-in-up" >
					<!-- single-schedule -->
					<div class="single-schedule first">
						<div class="inner">
							<div class="single-features">
								<div class="signle-icon">
								</div>
							</div>
							<div class="single-content" style="text-align:center;">
								<i class="icofont icofont-diamond" style="font-size:40px; color:#fff; margin:auto;"></i>
								<span>Reinsurance Packages</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-12 " data-aos="zoom-in-up" >
					<!-- single-schedule -->
					<div class="single-schedule first">
						<div class="inner">
							<div class="single-features">
								<div class="signle-icon">
								</div>
							</div>
							<div class="single-content" style="text-align:center;">
								<i class="icofont icofont-diamond" style="font-size:40px; color:#fff; margin:auto;"></i>
								<span>Medical Administration</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-12 " data-aos="zoom-in-up" >
					<!-- single-schedule -->
					<div class="single-schedule first">
						<div class="inner">
							<div class="single-features">
								<div class="signle-icon">
								</div>
							</div>
							<div class="single-content" style="text-align:center;">
								<i class="icofont icofont-diamond" style="font-size:40px; color:#fff; margin:auto;"></i>
								<span>Actuarial Services</span>
							</div>
						</div>
					</div>
				</div>
				
				
				
			</div>
		</div>
	</div>
</section>


				
		<!-- Start Contact Us -->
		<section class="">
			<div class="container">
				
					<div class="contact-info">
						<h6 style="text-align: left; margin-bottom:20px;">Follow to know about our  insurance product.</h6>

						<hr>
					<div class="row">
						<!-- single-info -->
						
						<div class="col-lg-4 col-12 ">
							<h6 style="text-align: left;">Insurance Packages</h6>
			

							
						</div>

						
						<!-- single-info -->
						<div class="col-lg-8 col-12 ">
							<h4 style="text-align: left; margin-bottom:10px;"><b>Know Our Insurance Packages;</b></h4>
							<p>We arrange all types of insurance products ranging from general insurance, non- life, and reinsurance. Some of our insurance product lines are as follows:</p>
<br>
				<!-- <h6 style="text-align: left; margin-bottom:2px;" class="text-muted">Are you a CSIL Client?</h6> -->
				<p style="background-color:azure; padding:20px;"><b></b>
							
	
					<b>▶ Personal Insurance.</b> 
					<br>
					<b>▶ Bespoke Insurance. </b><br>	
					<b>▶ Business Insurance.</b><br>	
					<b>▶ Motor and Fleet Insurance. </b><br>	
					<b>▶ Commercial Insurance. </b><br>	
				</p>
				
			<div class="get-quote" style=" border-radius:30px; ">
				<a href="tel:+232 78 274 864" style="background-color:#2E2D7F; border-radius:30px; margin-bottom:10px;" class="btn">Get in touch</a>
			</div>
			
							
						</div>
						
					</div>
					<hr>
					<div class="row">
						<!-- single-info -->
						
						
						<div class="col-lg-4 col-12 ">
							<h6 style="text-align: left; ">Risk Management</h6>
			
							

			
							
						</div>
						
						<div class="col-lg-8 col-12 ">
							<h4 style="text-align: left; margin-bottom:20px;"><b>Know Our Risk Management</b></h4>
			
							<p>We arrange all types of insurance products ranging from general insurance, non- life, and reinsurance. Some of our insurance product lines are as follows:</p>
							<br>
					
							<p style="background-color:azure; padding:20px;"><b></b>
							
	
								<b>▶ Pre- and Post-Loss Survey: </b> On-site surveys and other risk assessments with ac- companying loss preven- tion reports
								<br><br>
								<b>▶ Major property claim: </b>
								 Risk management in- volvement in large claims handling, and loss reports for major property claims.
							<br><br>	
							</p>
							
					
			
				<div class="get-quote" style="background-color: #2E2D7F; width:100px; border-radius:30px;">
					<a href="tel:+232 78 274 864"style="background-color:#2E2D7F; border-radius:30px;" class="btn"><i class="icofont icofont-ui-call"></i> Click here</a>
				</div>
			
							
						</div>
						<!--/End single-info -->
						<!-- single-info -->
						
						<!--/End single-info -->
					</div>
					<hr>
					<div class="row">
						<!-- single-info -->
						
						<div class="col-lg-4 col-12 ">
							<h6 style="text-align: left;">Reinsurance Packages</h6>
			

							
						</div>

						
						<!-- single-info -->
						<div class="col-lg-8 col-12 ">
							<h4 style="text-align: left; margin-bottom:10px;"><b>Know Our Reinsurance Packages;</b></h4>
							<p>We arrange all types of insurance products ranging from general insurance, non- life, and reinsurance. Some of our insurance product lines are as follows:</p>
							

<br>
<p style="background-color:azure; padding:20px;"><b></b>
							
	
	<b>▶ Treaty placement.</b> 
	<br>
	<b>▶ Facultative placement. </b><br>
	<b>▶ Specialty. </b>
	
<br>
</p>
<div class="get-quote" style="background-color: #2E2D7F; width:100px; border-radius:30px;">
	<a href="tel:+232 78 274 864"style="background-color:#2E2D7F; border-radius:30px;" class="btn"><i class="icofont icofont-ui-call"></i> Click here</a>
</div>


				<!-- <h6 style="text-align: left; margin-bottom:2px;" class="text-muted">Are you a CSIL Client?</h6> -->
				
			
			
			
							
						</div>
						
					</div>
					<hr>
					<div class="row">
						<!-- single-info -->
						
						<div class="col-lg-4 col-12 ">
							<h6 style="text-align: left;">Medical Administration</h6>
			

							
						</div>

						
						<!-- single-info -->
						<div class="col-lg-8 col-12 ">
							<h4 style="text-align: left; margin-bottom:10px;"><b>More About Our Medical Administration;</b></h4>
							<p>We arrange all types of insurance products ranging from general insurance, non- life, and reinsurance. Some of our insurance product lines are as follows:</p>
							<br>
							<p style="background-color:azure; padding:20px;"><b></b>
							
							
								<b>▶ Medical Administration</b> 
								<br>
								<b>▶ Medical Evacuation to Ghana. </b>
								
								
							<br>
							</p>
							<div class="get-quote" style="background-color: #2E2D7F; width:100px; border-radius:30px;">
								<a href="/hospital"style="background-color:#2E2D7F; border-radius:30px;" class="btn"> > Get Started</a>
							</div>
				<!-- <h6 style="text-align: left; margin-bottom:2px;" class="text-muted">Are you a CSIL Client?</h6> -->
				
			
			
							
						</div>
						
					</div>
					<hr>
					<div class="row">
						<!-- single-info -->
						
						<div class="col-lg-4 col-12 ">
							<h6 style="text-align: left;">Actuarial Services</h6>
			

							
						</div>

						
						<!-- single-info -->
						<div class="col-lg-8 col-12 ">
							
							<h4 style="text-align: left; margin-bottom:10px;"><b>Our Actuarial Services;</b></h4>
				<!-- <h6 style="text-align: left; margin-bottom:2px;" class="text-muted">Are you a CSIL Client?</h6> -->
				<p>We arrange all types of insurance products ranging from general insurance, non- life, and reinsurance. Some of our insurance product lines are as follows:</p>
							<br>
<p style="background-color:azure; padding:20px;"><b></b>
							
	
	<b>▶ Pricing. </b> 
	<br>
	<b>▶ Reserving.</b><br>
	<b>▶ Pension Management.</b>
	
<br>
</p>
<div class="get-quote" style="background-color: #2E2D7F; width:100px; border-radius:30px;">
	<a href="tel:+232 78 274 864"style="background-color:#2E2D7F; border-radius:30px;" class="btn"><i class="icofont icofont-ui-call"></i> Click here</a>
</div>
			
			
							
						</div>
						
					</div>
					<hr>

					









				</div>
			</div>
		</section>
{% endblock body%}